@import "normalize.css";
@import "highlightjs-tomorrow-theme.css";
@import "font-awesome/font-awesome";
@import "fonts";
@import "globals";

body {
    background-color: $body-bg;
    color: $text-color;
    text-shadow: 4px 4px 0 #bdc3c7;
    font-family: 'montserratbold';
}

#app {
    width: 100vw;
    height: 100vh;

    .presentation {
        width: inherit;
        height: inherit;
        display: flex;

        .slides {
            width: inherit;
            height: inherit;
            margin: auto;

            .slide {
                width: inherit;
                height: inherit;
                display: none;
                flex-direction: column;

                &.title-slide {
                    background-color: $title-slide-bg;
                    color: $title-slide-text-color;
                    text-shadow: 6px 6px 0 $title-slide-text-shadow-color;
                }

                &.active {
                    display: flex;
                }

                > * {
                    margin: auto;
                    align-items: center;
                }

                h1 {
                    font-size: 6vw;
                    text-align: center;
                }

                .steps {
                    margin-top: 0;
                    padding: 0;
                    list-style: none;
                    font-size: 3vw;
                    text-align: center;
                    text-shadow: none;

                    li {
                        margin-bottom: 3vh;

                        a {
                            color: $text-shadow-color;
                            text-decoration: none;
                        }
                    }
                }

                pre {
                    margin: 0;

                    code {
                        display: block;
                        font-size: 2vw;
                        text-shadow: none;
                        background-color: transparent !important;
                        padding: 0;
                    }
                }

                img {
                    max-width: 60vw;
                }

                blockquote {
                    font-family: 'montserratregular';
                    border-left: 20px solid $text-color;
                    padding-left: 35px;
                    font-size: 5vw;
                    width: 70%;
                    text-shadow: none;
                    color: $blockquote-text-color;
                    font-style: italic;

                    p {
                        &:before, &:after {
                            font-family: 'FontAwesome';
                            font-weight: normal;
                            font-style: normal;
                            display: inline-block;
                            text-decoration: inherit;
                            font-size: 3.5vw;
                            vertical-align: top;
                            padding-top: 10px;
                        }

                        &:before {
                            content: '\f10d';
                            padding-right: 15px;
                        }

                        &:after {
                            content: '\f10e';
                            padding-left: 15px;
                        }
                    }

                    .quote-highlight {
                        color: #f5871f;
                    }

                    .quote-highlight-string {
                        color: #718c00;
                    }
                }
            }
        }
    }
}
