$slide-bg: #f7f7f7;
$title-slide-bg: #e74c3c;

$body-bg: #f7f7f7;

$text-color: #e74c3c;
$text-shadow-color: #bdc3c7;
$title-slide-text-color: #f7f7f7;
$title-slide-text-shadow-color: #c0392b;
$blockquote-text-color: #bdc3c7;
