<h1>Who the $&#! is this guy?</h1>
<ul class="steps">
    <li>
        Twitter:<br>
        <a href="http://benclinkinbeard.com/posts/how-browserify-works">
            @kurtiskemple
        </a>
    </li>
    <li>
        Github:<br>
        <a href="http://browserify.org/articles">
            @kkemple
        </a>
    </li>
    <li>
        British Intelligence:<br>
        <a href="https://github.com/JSteunou/marionetteify">
            @008
        </a>
    </li>
</ul>