<h1>Follow Along!</h1>
<ul class="steps">
    <li>
        Slides:<br>
        <a href="http://kkemple.github.io/slides.browserify-marionette/">
            kkemple.github.io/slides.browserify-marionette/
        </a>
    </li>
    <li>
        Annotated Souce:<br>
        <a href="http://kkemple.github.io/talks.browserify-marionette/readme.html">
            kkemple.github.io/talks.browserify-marionette/readme.html
        </a>
    </li>
    <li>
        Source Code:<br>
        <a href="http://github.com/kkemple/talks.browserify-marionette">
            github.com/kkemple/talks.browserify-marionette
        </a>
    </li>
</ul>