<div class="code-snippet">
    <pre>
        <code class="hljs javascript">
/* js/shims/jquery.js */
module.exports = jQuery;

/* js/shims/underscore.js */
module.exports = _;

/* js/shims/backbone.js */
module.exports = Backbone;

/* js/shims/marionette.js */
module.exports = Marionette;

/* usage */
var $ = require('./shims/jquery'),
    _ = require('./shims/underscore'),
    Backbone = require('./shims/backbone'),
    Marionette = require('./shims/marionette');
        </code>
    </pre>
</div>