<div class="code-snippet">
    <pre>
        <code class="hljs javascript">
/* package.json */

...
"browserify": {
    "transform": ["hbsfy"],
    "options": {
        "debug": true
    }
},
...
        </code>
    </pre>
</div>