<div class="code-snippet">
    <pre>
        <code class="hljs javascript">
/* js/libs/jquery.js */
module.exports = jQuery;

/* js/libs/underscore.js */
module.exports = _;

/* js/libs/backbone.js */
module.exports = Backbone;

/* js/libs/marionette.js */
module.exports = Marionette;

/* usage */
var $ = require('./libs/jquery'),
    _ = require('./libs/underscore'),
    Backbone = require('./libs/backbone'),
    Marionette = require('./libs/marionette');
        </code>
    </pre>
</div>