<div class="code-snippet">
    <pre>
        <code class="hljs javascript">
/* js/config/templates/index.js */

module.exports.entry = require('...');
module.exports.gettingSetUp = require('...');
module.exports.gettingSetUpConsole = require('...');
module.exports.gettingSetUpGrunt = require('...');


/* usage */

var templates = require('./config/templates');
var html = templates.gettingSetUpGrunt(data);
        </code>
    </pre>
</div>