<div class="code-snippet">
    <pre>
        <code class="hljs javascript">

/* js/main.js */

var app = require('./app'),
    Backbone = require('./libs/backbone'),
    vent = require('./config/events'),
    PresentationModule = require('./modules/presentation');

// add any app level event listerers
vent.on('app:screen', function(view) { ... });
vent.on('app:setTitle', function(title) { ... });
vent.on('app:navigate', function(path, trigger) { ... });

// add all modules
app.module('presenation', PresentationModule);
...

app.start();
Backbone.history.start();
        </code>
    </pre>
</div>
