<div class="code-snippet">
    <pre>
        <code class="hljs javascript">
/* js/modules/presentation.js */

var Marionette = require('../libs/marionette'),
    ...
    PresentationModule;

PresentationModule = Marionette.Module.extend({
    startWithParent: false,
    _started: false,
    initialize: function() { ... },
    onStart: function() { ... },
    onStop: function() { ... },
    _onStepEvent: function(action) { ... },
    _onRoute: function(router) { ... },
    _onKeyboardEvent: function(e) { ... }
});

module.exports = PresentationModule;

        </code>
    </pre>
</div>