<div class="code-snippet">
    <pre>
        <code class="hljs javascript">
/* Gruntfile.js */

grunt.registerTask('compile-templates', function() {
    var js = '';
    grunt.file.recurse('partials/slides/',
            function(abspath, rootdir, subdir, file) {

        var filename = file.replace('.hbs', '');
        js += 'module.exports.' +
                filename +
                ' = require(\'../../../partials/slides/' +
                filename +
                '.hbs\');' +
                '\n';
    });
    grunt.file.write('js/config/templates/index.js', js);
});
        </code>
    </pre>
</div>