<div class="code-snippet">
    <pre>
        <code class="hljs javascript">
/* js/app.js */

var Marionette = require('./shims/marionette'),
    app;

app = new Marionette.Application({
    regions: {
        mainRegion: '[data-app="presentation"]'
    }
});

module.exports = app;
        </code>
    </pre>
</div>