<div class="code-snippet">
    <pre>
        <code class="hljs javascript">

/* js/main.js */

var app = require('./app'),
    Backbone = require('./libs/backbone'),
    commands = require('./config/commands'),
    PresentationModule = require('./modules/presentation');

// add any app level event listeners
commands.setHandler('app:screen:show', function(view) { ... });
commands.setHandler('app:setTitle', function(title) { ... });
commands.setHandler('app:navigate', function(path, trigger) { ... });

// add all modules
app.module('presenation', PresentationModule);
...

app.start();
Backbone.history.start();
        </code>
    </pre>
</div>
