<div class="code-snippet">
    <pre>
        <code class="hljs javascript">
/* js/views/slide.js */

var Marionette = require('../libs/marionette'),
    ...
    Slide;

Slide = Marionette.ItemView.extend({
    events: { ... },
    modelEvents: { ... },
    behaviors: { ... },
    template: function(modelAttrs) { ... },
    initialize: function() { ... },
    onAttach: function() { ... },
    transition: function() { ... },
    step: function() { ... }
});

module.exports = Slide;
        </code>
    </pre>
</div>