<div class="code-snippet">
    <pre>
        <code class="hljs javascript">
/* js/views/slide.js */

var Marionette = require('../libs/marionette'),
    SwipeInteraction = require('../behaviors/swipe-interaction'),
    SwipeEvent = require('../models/swipe-event'),
    templates = require('../config/templates'),
    hljs = require('highlight.js'), // NPM module
    Slide;

Slide = Marionette.ItemView.extend({
    events: { ... },
    modelEvents: { ... },
    behaviors: { ... },
    template: function(modelAttrs) { ... },
    initialize: function() { ... },
    onRender: function() { ... },
    transition: function() { ... },
    step: function() { ... }
});

module.exports = Slide;
        </code>
    </pre>
</div>