<h1>Resources</h1>
<ul class="steps">
    <li>
        How Browserify Works:<br>
        <a href="http://benclinkinbeard.com/posts/how-browserify-works">
            benclinkinbeard.com/posts/how-browserify-works
        </a>
    </li>
    <li>
        Browserify Articles:<br>
        <a href="http://browserify.org/articles">
            browserify.org/articles
        </a>
    </li>
    <li>
        Marionetteify:<br>
        <a href="https://github.com/JSteunou/marionetteify">
            github.com/JSteunou/marionetteify
        </a>
    </li>
    <li>
        NPM Enterprise:<br>
        <a href="https://www.npmjs.com/enterprise">
            www.npmjs.com/enterprise
        </a>
    </li>
</ul>