<blockquote cite="http://browserify.org/">
    <p>Browserify lets you <span class="quote-highlight">require</span>(<span class="quote-highlight-string">'modules'</span>) in the browser by bundling up all of your dependencies.</p>
</blockquote>